.layout {
    display: flex;
    min-height: 100vh;
}

.content-area {
    flex: 1;
    padding: 25px;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #000535;
    text-align: center;
}

.dashboard-container {
    padding: 20px;
}

.absen-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.absen-card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

#jam-digital {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4f46e5;
    margin: 10px 0;
    text-align: center;
}

.absen-card p {
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

.absen-card hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.sudah-absen-box h4 {
    color: #2e7d32;
    text-align: center;
    margin-bottom: 5px;
}

.sudah-absen-box p {
    text-align: center;
    color: #333;
}

#lokasi-info {
    margin-bottom: 15px;
    font-size: 14px;
    color: #777;
    text-align: center;
}

#btn-absen {
    background: #000535;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: not-allowed;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
}

#btn-absen:enabled {
    cursor: pointer;
    background: #4f46e5;
}

#btn-absen:enabled:hover {
    background: #000000;
}

.status-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.status-card h5 {
    color: #2c3e50;
    font-size: 16px;
}

.status-card h3 {
    color: #2e7d32;
    margin-top: 5px;
}
