.layout {
    display: flex;
    min-height: 100vh;
}

.content-area {
    flex: 1;
    padding: 25px;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #000535;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    color: #2c3e50;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="date"],
select,
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background: #000535;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #000;
}

.riwayat-container {
    margin-top: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

thead {
    background: #000535;
    color: white;
}

thead th {
    padding: 12px;
    text-align: left;
}

tbody td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background: #f7f7f7;
}

td a {
    color: #1a73e8;
    font-size: 13px;
}

td a:hover {
    text-decoration: underline;
}

.status-pending {
    color: #d17b00;
    font-weight: bold;
}

.status-disetujui {
    color: #2e7d32;
    font-weight: bold;
}

.status-ditolak {
    color: #c62828;
    font-weight: bold;
}
