.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}


body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: #f4f6f9;
    margin: 0;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #000535;
    text-align: center;
}

.msg-success {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    color: green;
}

.msg-error {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    color: red;
}

form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.foto-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.foto-wrapper img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

input[readonly] {
    background: #f1f1f1;
    color: #555;
}

small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #777;
}

button[type="submit"] {
    background: #000535;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    width: 100%;
}

button[type="submit"]:hover {
    background: #000000;
}
